{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:import/recommended",
    "airbnb-typescript/base"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    // required for "type-aware linting"
    "project": ["./tsconfig.json"],
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["import", "@typescript-eslint", "prettier" ],
  "settings": {
    // resolves imports without file extensions for listed extensions
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"]
      }
    },
  },
  "rules": {
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": "off",
    "indent": "off",
    "@typescript-eslint/indent": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "error",
    "@typescript-eslint/no-unused-vars": "warn",
    "import/no-extraneous-dependencies": "off"
  }
}